:host {
  .progress-bar-container {
    position: absolute;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
  }
  .plane-loader-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10000;
  }
}
