<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" fxFlex routerLink="/home" translate fxFlexAlign="end">
      <img routerLink="/home"  src="assets/amgine-logo.svg" alt="APP_NAME" srcset="">
    </a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button mat-button routerLink="/configurations" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span translate>Config</span>
    </button>
  </div>
  <span fxFlex></span>

  <mat-slide-toggle
    [checked]="selectedTheme"
    (change)="changeTheme()"
    color="primary"
    [labelPosition]="'after'"
  >
    <mat-icon class="mat-18">flare</mat-icon>
    <mat-icon class="mat-18">nightlight</mat-icon>
  </mat-slide-toggle>
  <button mat-button [matMenuTriggerFor]="themeMenu">
      Trigger
  </button>

  <mat-menu #themeMenu="matMenu" x-position="after" y-position="below"
            [overlapTrigger]="false">
      <a mat-menu-item href="item" *ngFor="let item of ['red','green','blue','black']">
          {{item}}
      </a>
  </mat-menu>
  <app-language-selector [icon]="true"></app-language-selector>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
