
<div fxFlex [class]="{'my-light-theme': theme}">
  <app-header [sidenav]="sidenav"></app-header>
  <!-- <app-main-progress-bar ></app-main-progress-bar> -->

  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/configurations" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Configurations</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-main-progress-bar ></app-main-progress-bar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
