<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <!-- <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader> -->
        <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
        <q>{{homeResolved}}</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
